@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=REM:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=REM:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Quicksand:wght@300&family=REM:ital,wght@1,100&display=swap');

body {
  background-color: rgb(224, 157, 193);

}

hr {
  border: 0;
  height: 12px;
  box-shadow: inset 0 12px 12px -12px bisque;
  margin-top: 4%;
}


.titulo:hover {
  background-color: rgb(194, 171, 190);
  border-radius: 60px;
}

h1 {
  font-family: 'REM', sans-serif;
  font-size: 50px;
  border: solid 5px white;
  color: bisque;
  border-radius: 40px;
  text-align: center;
  margin: auto;
  margin-top: 4%;

}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  width: 70%;
  text-align: center;
  margin: auto;
  margin-top: 5%;

}

.conteiner {
  width: 70%;
  margin: auto;
  margin-top: 5%;
}

.zodiaco {
  border: solid 2px;
  border-radius: 5%;
  border-color: azure;
  display: inline-table;
  background-color: rgb(247, 228, 237);
  margin-top: 10%;
  margin-left: 10%;
  height: 10%;
  opacity: 80%;
}

.zodiaco :active {
  background-color: rgb(206, 103, 158);
}

br {
  display: none;
}

h2 {
  font-size: 'REM', sans-serif;
  margin: auto;
  text-align: center;
  margin-top: 5%;
  color: bisque;
  border: solid;
  border-color: pink;
  width: 60%;
}

h2:hover {
  background-color: rgb(194, 112, 156);
  margin: auto;
  width: 70%;
}

img {
  display: block;
  margin: auto;
  margin-top: 5%;

}